.row {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 476px;
  padding-block: 12px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.text {
  color: var(--mantine-color-black);
  font-family: var(--mantine-font-family);
  font-size: 14px;
  line-height: 20px;
}

.textChecked {
  color: var(--mantine-color-gray-6);
  text-decoration: line-through;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}
